{% extends "base.html" %}
{% load static %}
{% load custom_tag %}

{% block meta_description %}

{% endblock %}

{% block title %} Property <button type="button" class="btn btn-primary edit-btn" style="float: right">Save</button> {% endblock %}

{% block extra_css %}
<link href="{% static 'global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Property Description </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input">
                            <div class="col-md-12">
                                <div class="md-radio-inline">
                                    <div class="md-radio col-md-6">
                                        <input type="radio" id="radio53" name="type" class="md-radiobtn" checked="">
                                        <label for="radio53">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Landed Property </label>
                                    </div>
                                    <div class="md-radio col-md-6">
                                        <input type="radio" id="radio54" name="type" class="md-radiobtn">
                                        <label for="radio54">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Strata Property </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;">
                                <div class="md-checkbox-inline">
                                	
                                    <div class="md-checkbox col-md-12" style="margin-left:15%;">
                                        <input type="checkbox" id="checkbox" name="indiviual" class="md-check">
                                        <label for="checkbox">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Individual Title Issued </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Title Details </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="title_type">Title Type</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="title_type" name="title_type">
                                            <option value="Option 1">Option 1</option>
                                            <option value="Option 2">Option 2</option>
                                            <option value="Option 3">Option 3</option>
                                            <option value="Option 4">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-xs blue" style="margin-left: 2px;">
                                            <i class="fa fa-plus"></i> </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="title_no">Title No.</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="title_no" placeholder="Enter the title number." name="title_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="lot_type">Lot Type</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="lot_type" name="lot_type">
                                            <option value="Option 1">Option 1</option>
                                            <option value="Option 2">Option 2</option>
                                            <option value="Option 3">Option 3</option>
                                            <option value="Option 4">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-xs blue" style="margin-left: 2px;">
                                            <i class="fa fa-plus"></i> </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="lot_no">Lot / PT No.</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="lot_no" placeholder="Enter Lot/PT Number." name="lot_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-error">
                            <div class="col-md-4">
                                <select class="form-control" id="mukim" name="mukim">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="mukim_val" name="mukim_val">
                                            <option value="Option 1">Option 1</option>
                                            <option value="Option 2">Option 2</option>
                                            <option value="Option 3">Option 3</option>
                                            <option value="Option 4">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only purple" style="margin-left: 2px;">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="daerah">Daerah</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="daerah" placeholder="Enter daerah" name="daerah">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="negeri">Negeri</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="negeri" placeholder="Enter negeri" name="negeri">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="area">Area</label>
                            <div class="col-md-4" style="padding-right: 2px;">
                                <input type="number" class="form-control" id="area" placeholder="" name="area">
                                <div class="form-control-focus"> </div>
                            </div>
                            <div class="col-md-4" style="padding-left: 2px;">
                                <select class="form-control" id="unit" name="area_unit">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="tenure">Tenure</label>

                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="tenure" name="tenure">
                                            <option value="Option 1">Option 1</option>
                                            <option value="Option 2">Option 2</option>
                                            <option value="Option 3">Option 3</option>
                                            <option value="Option 4">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-xs blue" style="margin-left: 2px;">
                                            <i class="fa fa-plus"></i> </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="lease_expiry">Lease Expiry Date</label>
                            
                            <div class="col-md-8 date form_datetime">
                                <input type="text" id="lease_expiry" placeholder="Enter lease expiry date" name="lease_expiry" class="form-control date-set">
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="title_registration_date">Title Registration Date</label>
                            <div class="col-md-8 date form_datetime">
                                <input type="text" id="title_registration_date" placeholder="Enter lease expiry date" name="title_registration_date" class="form-control date-set">
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="interest">Restriction in Interest</label>
                            <div class="col-md-8 md-checkbox padding-checkbox">
                                <input type="checkbox" id="interest" name="interest" class="md-check" onclick="Interest_enable(this)">
                                <label for="interest">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span></label>
                            </div>
                        </div>
                        <!-- <div class="form-group form-md-line-input has-success" style="margin-top: 10px">
                            <div class="col-md-4 md-checkbox-inline" style="margin-left: 10px">
                            <div class="md-checkbox">
                                <input type="checkbox" id="buml_lot" name="buml_lot" class="md-check interest" disabled>
                                <label for="buml_lot">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>  Buml Lot </label>
                            </div>
                            </div>
                            <div class="col-md-7 md-checkbox-inline">
                            <div class="md-checkbox">
                                <input type="checkbox" id="malay" name="malay" class="md-check interest" disabled>
                                <label for="malay">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Malay Reserve Land </label>
                            </div>
                            </div>
                        </div> -->

                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="restriction_against">Restriction Against</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control interest" id="restriction_against" placeholder="Enter restriction against" name="restriction_against" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="authority">Approving Authority</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control interest" id="authority" placeholder="Enter approving authority" name="approving_authority" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="other_restriction">Other Restriction</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control interest" id="other_restriction" placeholder="Enter other restriction" name="other_restriction" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="land_use">Category of Land Use</label>

                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="land_use" name="category_land_use">
                                            <option value="Option 1">Option 1</option>
                                            <option value="Option 2">Option 2</option>
                                            <option value="Option 3">Option 3</option>
                                            <option value="Option 4">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-xs blue" style="margin-left: 2px;">
                                            <i class="fa fa-plus"></i> </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>

                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="express_cond">Express Condition</label>

                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="express_cond" name="express_condition">
                                            <option value="Option 1">Option 1</option>
                                            <option value="Option 2">Option 2</option>
                                            <option value="Option 3">Option 3</option>
                                            <option value="Option 4">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-xs blue" style="margin-left: 2px;">
                                            <i class="fa fa-plus"></i> </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="building">Building Type</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="building" name="building_type">
		                                    <option value="Option 1">Option 1</option>
		                                    <option value="Option 2">Option 2</option>
		                                    <option value="Option 3">Option 3</option>
		                                    <option value="Option 4">Option 4</option>
		                                </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-xs blue" style="margin-left: 2px;">
                                            <i class="fa fa-plus"></i> </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="age_building">Age of Building</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="age_building" placeholder="Enter age of building" name="age_building">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
    <div class="col-md-4 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Title Details (Cond.) </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="postal_address">Postal Address</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="3" name="postal_address"></textarea>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-6 control-label" for="assess_rate">Assessment Rate(Half Year)</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" class="form-control" placeholder="Price" name="assessment_rate">
                                    <div class="form-control-focus"> </div>
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-6 control-label" for="annual_rent">Annual Quit Rent(1 Year)</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" class="form-control" placeholder="Price" name="annual_quit_rent">
                                    <div class="form-control-focus"> </div>
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="prev_title">Previous Title</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="prev_title" placeholder="Enter previous title" name="previous_title">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->

        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Strata Title Details </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="parcel_no">Parcel No</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="parcel_no" placeholder="Enter parcel number" name="parcel_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="storey_no">Storey No</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="storey_no" placeholder="Enter storey number" name="storey_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="building_no">Building No</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="building_no" placeholder="Enter building number" name="building_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="access_parcel_no">Accessory Parcel No</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="access_parcel_no" placeholder="Enter accessory parcel number" name="access_parcel_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="access_storey_no">Accessory Storey No</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="access_storey_no" placeholder="Enter accessory storey number" name="access_storey_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="access_building_no">Accessory Building No</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="access_building_no" placeholder="Enter accessory building number" name="access_building_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
    <div class="col-md-4 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Details of Unit / Parcel (as per Principal SPA) </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        
                        <div class="form-group form-md-line-input has-success">
                            <div class="col-md-5">
                                <select class="form-control" id="pacel_spa" name="pacel_spa">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="proj_name" placeholder="" name="proj_name">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="story_no_spa">Storey No</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="story_no_spa" placeholder="" name="story_no_spa" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="block_no">Building/Block No</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="block_no" placeholder="" name="block_no" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="apt_name">Apt/Condo Name</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="apt_name" placeholder="" name="apt_name" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="access_parcel_no_spa">Accessory Parcel No.</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="access_parcel_no_spa" placeholder="" name="access_parcel_no_spa" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="land_use">Building Description</label>

                            <div class="col-md-7 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="proj_code" name="proj_code">
                                            <option value="Option 1">Option 1</option>
                                            <option value="Option 2">Option 2</option>
                                            <option value="Option 3">Option 3</option>
                                            <option value="Option 4">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only purple">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="land_use">Unit Area</label>
                            <div class="col-md-3" style="padding-right: 2px;">
                                <input type="number" class="form-control" placeholder="" name="">
                                <div class="form-control-focus"> </div>
                            </div>
                            <div class="col-md-4" style="padding-left: 2px;">
                                <select class="form-control" id="land_use" name="land_use">
                                    <option value="Option 1">Option 1</option>
                                    <option value="Option 2">Option 2</option>
                                    <option value="Option 3">Option 3</option>
                                    <option value="Option 4">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <!-- <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Project </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="proj_code">Project Code(optional)</label>
                            <div class="col-md-7 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control" id="proj_code" name="proj_code">
		                                    <option value="">Option 1</option>
		                                    <option value="">Option 2</option>
		                                    <option value="">Option 3</option>
		                                    <option value="">Option 4</option>
		                                </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
		                                <a href="javascript:;" class="btn btn-icon-only blue">
		                                    <i class="fa fa-search"></i>
		                                </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="proj_name">Project Name</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="proj_name" placeholder="Enter project name" name="proj_name">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="developer">Developer</label>
                            <div class="col-md-7 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control" id="developer" name="developer">
		                                    <option value="">Option 1</option>
		                                    <option value="">Option 2</option>
		                                    <option value="">Option 3</option>
		                                    <option value="">Option 4</option>
		                                </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
		                                <a href="javascript:;" class="btn btn-icon-only blue">
		                                    <i class="fa fa-search"></i>
		                                </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="proprietor">Proprietor</label>
                            <div class="col-md-7 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control" id="proprietor" name="proprietor">
		                                    <option value="">Option 1</option>
		                                    <option value="">Option 2</option>
		                                    <option value="">Option 3</option>
		                                    <option value="">Option 4</option>
		                                </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
		                                <a href="javascript:;" class="btn btn-icon-only blue">
		                                    <i class="fa fa-search"></i>
		                                </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="bm_title">Block/Mater Title</label>
                            <div class="col-md-7 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control" id="bm_title" name="bm_title">
		                                    <option value="">Option 1</option>
		                                    <option value="">Option 2</option>
		                                    <option value="">Option 3</option>
		                                    <option value="">Option 4</option>
		                                </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
		                                <a href="javascript:;" class="btn btn-icon-only blue">
		                                    <i class="fa fa-search"></i>
		                                </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> 
        </div> -->
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
{% endblock %}

{% block extra_js %}

<script src="{% static 'global/plugins/moment.min.js" type="text/javascript' %}"></script>
<script src="{% static 'global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>

<script src="{% static 'global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>

<script type="text/javascript">

if (App.isAngularJsApp() === false) {
    if (jQuery().datepicker) {
	    $(".form_datetime").datetimepicker({
            autoclose: true,
            isRTL: App.isRTL(),
            format: "dd MM yyyy - hh:ii",
            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
        });

        $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
        // Workaround to fix datetimepicker position on window scroll
        $( document ).scroll(function(){
            $('.form_datetime').datetimepicker('place'); //#modal is the id of the modal
        });

        $(".select2, .select2-multiple").select2({
            placeholder: "",
            width: null
        });
	}
}

function Interest_enable(obj){
	if(obj.checked){
		$(".interest").attr("disabled", false);
	}else{
		$(".interest").attr("disabled", true);
	}
}
</script>
{% endblock %}
