{% extends "base.html" %}
{% load static %}
{% load custom_tag %}

{% block meta_description %}

{% endblock %}
{% block extra_css %}
<link href="{% static 'global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %} Contact <button type="button" class="btn btn-primary edit-btn" style="float: right;" onclick="FormBuilder_tp.saveFrame('contact')">Edit Form</button> <button type="button" class="btn btn-primary" style="float: right; margin-right: 10px;" onclick="submitForm()">Save</button> {% endblock %}

{% block content %}
<div class="row">
    <form name="defaultForm" method="post" id="defaultForm" role="form" >
    {% csrf_token %}
    <div class="col-md-4 ">
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    Contact Type </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal" >
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="type">Type</label>
                            <div class="col-md-8">
                                <select class="form-control" id="type" name="template" onchange="changetype(this)">
                                    {% for template in templates %}
                                    <option value="{{ template.id }}">{{ template.type }}</option>
                                    {% endfor %}
                                    <option class="edit-tool" value="new">New</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success new_type" style="display: none">
                            <label class="col-md-4 control-label" for="new_type">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="new_type" placeholder="" name="new_type">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    Personal Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="id_type">ID Type</label>
                            <div class="col-md-8">
                                <select class="form-control" id="id_type" name="id_type">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="id_value">ID</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="id_value" placeholder="Enter contact id." name="id_value">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="old_ic">Old IC</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="old_ic" placeholder="Enter old ic." name="old_ic">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="name">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="name" placeholder="Enter contact name." name="name" required>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="citizenship">Citizenship</label>
                            <div class="col-md-8">
                                <select class="form-control" id="citizenship" name="citizenship">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="birth">Date of Birth</label>
                            <div class="col-md-8">
                                <select class="form-control" id="birth" name="birth">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="title">Title</label>
                            <div class="col-md-8">
                                <select class="form-control" id="title" name="title">
                                    <option value="">Mr</option>
                                    <option value="">Miss</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="name">GST Reg. No.</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="gst_reg_no" placeholder="Enter GST registration number." name="gst_reg_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Contact Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="address1">Address (Line 1)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="address1" placeholder="Enter address line1." name="address1">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="address2">Address (Line 2)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="address2" placeholder="Enter address line2." name="address2">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="address3">Address (Line 3)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="address3" placeholder="Enter address line3." name="address3">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="postcode">Postalcode</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="postcode" placeholder="Enter postal code." name="postcode">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="town">Town</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="town" placeholder="Enter town." name="town">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="state">State</label>
                            <div class="col-md-8">
                                <select class="form-control" id="state" name="state">
                                    <option value="">Kuala Lumpur</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="country">Country</label>
                            <div class="col-md-8">
                                <select class="form-control" id="country" name="country">
                                    <option value="">Malaysia</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="phone_home">Phone (Home)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="phone_home" placeholder="Enter phone number." name="phone_home">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="phone_office">Phone (Office)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="phone_office" placeholder="Enter office phone number." name="phone_office">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="phone_mobile">Phone (Mobile)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="phone_mobile" placeholder="Enter mobile phone number." name="phone_mobile">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="fax">Fax</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="fax" placeholder="Enter mobile phone number." name="fax">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="mail_preference">Email Address</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <input type="text" class="form-control" id="mail_preference" placeholder="Enter email." name="mail_preference">
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only blue">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="proprietor">Website</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <input type="text" class="form-control" id="fax" placeholder="Enter website." name="website">
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only blue">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
    <div class="col-md-4 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <!-- <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Other Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="marital_status">Marital Status</label>
                            <div class="col-md-8">
                                <select class="form-control" id="marital_status" name="marital_status">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="children">No. of Children</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="children" placeholder="Enter number of children." name="children">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="occupation">Occupation</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control" id="occupation" name="occupation">
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                            <option value="">Option 3</option>
                                            <option value="">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only blue">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="tax_no">Tax File No</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="tax_no" placeholder="Enter tax file number." name="tax_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="ird_branch">IRD Branch</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control" id="ird_branch" name="ird_branch">
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                            <option value="">Option 3</option>
                                            <option value="">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only blue">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="customer_type">Customer Type</label>
                            <div class="col-md-8">
                                <select class="form-control" id="customer_type" name="customer_type">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="government">Government Department</label>
                            <div class="col-md-8">
                                <select class="form-control" id="government" name="government">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
        <!-- END SAMPLE FORM PORTLET-->

        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Company Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="javascript:;" class="edit-form edit-tool" onclick="FormBuilder_tp.appendForm(this, 'col-md-6')"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="marital_status">Registered Office <br/> <a href="javascript:;" class="btn btn-xs green" style="margin-top: 5px;">Save as above </a></label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="3" name="registered_office"></textarea>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="director">Director</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="director" name="director[]">
                                            <option value="John Martin">John Martin</option>
                                            <option value="Tony Simth">Tony Simth</option>
                                            <option value="John Davis">John Davis</option>
                                            <option value="Sam Martin">Sam Martin</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-xs blue" style="margin-left: 2px;">
                                            <i class="fa fa-search"></i> </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-8 control-label" for="marital_status"></label>
                            <div class="col-md-4">
                                <a href="javascript:;" class="btn btn-xs green"><i class="fa fa-plus" onclick="addDirector(this)"></i> </a>
                                <a href="javascript:;" class="btn btn-xs green"><i class="fa fa-minus" onclick="removeDirector(this)"></i> </a>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="director">Secretary</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="secretary" name="secretary">
                                            <option value="Option 1">John Martin</option>
                                            <option value="Option 2">Tony Simth</option>
                                            <option value="Option 3">John Davis</option>
                                            <option value="Option 4">Sam Martin</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-xs blue" style="margin-left: 2px;">
                                            <i class="fa fa-search"></i> </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="contact_person">Contact Person</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="contact_person" placeholder="" name="contact_person">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
    </form>
    <div class="col-md-4 custom-form">
        
    </div>
</div>
{% endblock %}

{% block extra_js %}

<script src="{% static 'global/plugins/moment.min.js" type="text/javascript' %}"></script>
<script src="{% static 'global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'formbuilder/js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'formbuilder/js/form-builder.min.js' %}" type="text/javascript"></script>
<script src="{% static 'formbuilder/js/form-render.min.js' %}" type="text/javascript"></script>

<script src="{% static 'formbuilder/js/custom.js' %}" type="text/javascript"></script>

<script src="{% static 'global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">

function Interest_enable(obj){
    if(obj.checked){
        $(".interest").attr("disabled", false);
    }else{
        $(".interest").attr("disabled", true);
    }
}

var numofdirector = 1
function addDirector(obj){
    str = '<div class="form-group form-md-line-input has-success"> \
                <label class="col-md-4 control-label" for="director">Director</label> \
                <div class="col-md-8 input-group-control"> \
                    <div class="input-group input-group-sm"> \
                        <div class="input-group-control"> \
                            <select class="form-control select2" id="director" name="director[]"> \
                                <option value="John Martin">John Martin</option> \
                                <option value="Tony Simth">Tony Simth</option> \
                                <option value="John Davis">John Davis</option> \
                                <option value="Sam Martin">Sam Martin</option> \
                            </select>\
                        </div> \
                        <span class="input-group-btn btn-right"> \
                            <a href="javascript:;" class="btn btn-xs blue" style="margin-left: 2px;"> \
                                <i class="fa fa-search"></i> </a> \
                        </span> \
                    </div> \
                    <div class="form-control-focus"> </div> \
                </div> \
            </div>'
    $(str).insertBefore($(obj).parent().parent().parent())

    $(".select2, .select2-multiple").select2({
            placeholder: "",
            width: null
        });
}

function removeDirector(obj){
    $(obj).parent().parent().parent().prev().remove()
}

function changetype(obj){
    if($(obj).val() == "new"){
        $(".new_type").attr("style", "display: block")
    } else {
        $(".new_type").attr("style", "display: none")

        $.ajax({
            type: 'GET',
            url: '/api/contact_template/'+$("#type").val()+'/?format=json',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(data) {
                console.log(FormBuilder_tp.getCustomForm(JSON.parse(data["json"])))
              $(".custom-form").html(FormBuilder_tp.getCustomForm(JSON.parse(data["json"])))
                FormBuilder_tp.setMode(1)
            }
        });

    }
}

function submitForm(){
    console.log($("#defaultForm").serializeArray())
    document.defaultForm.submit()
}

if (App.isAngularJsApp() === false) {
    if (jQuery().datepicker) {
        $(".select2, .select2-multiple").select2({
            placeholder: "",
            width: null
        });
    }

    $.ajax({
        type: 'GET',
        url: '/api/contact_template/'+$("#type").val()+'/?format=json',
        dataType: 'json',
        contentType: 'application/json; charset=UTF-8',
        success: function(data) {
            console.log(FormBuilder_tp.getCustomForm(JSON.parse(data["json"])))
          $(".custom-form").html(FormBuilder_tp.getCustomForm(JSON.parse(data["json"])))
           FormBuilder_tp.setMode(1)
        }
    });

}
</script>
{% endblock %}
