{% extends "base.html" %}
{% load static %}
{% load custom_tag %}

{% block meta_description %}

{% endblock %}
{% block extra_css %}
<link href="{% static 'global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{% static 'phone/css/intlTelInput.css' %}">
<link rel="stylesheet" href="{% static 'phone/css/demo.css' %}">
{% endblock %}

{% block title %} Contact {% endblock %}

{% block content %}
<div class="row">
    <form name="defaultForm" method="post" id="defaultForm" role="form" >
    {% csrf_token %}
    <input type="hidden" name="contact_id" value="{{contact.id|default_if_none:''}}">
    <input type="hidden" name="custom_data" value="" class="custom_data">
    <input type="hidden" id="phone_home_val" name="phone_home" value="">
    <input type="hidden" id="phone_office_val" name="phone_office" value="">
    <input type="hidden" id="phone_mobile_val" name="phone_mobile" value="">
    <div class="row" style="margin: -50px 20px 10px 0px;">
        <a href="javascript:;" class="btn btn-primary edit-btn" style="float: right; margin: 0px 10px;" onclick="FormBuilder_tp.saveFrame('contact')">Edit Form</a> 
        <a href="{% url 'contact_list' %}" class="btn btn-primary" style="float: right; margin: 0px 10px;">Cancel</a>
        <button type="submit" class="btn btn-primary" style="float: right; margin: 0px 10px;">Save</button>
    </div>
    <div class="col-md-4 ">
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    Contact Type </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal" >
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="type">Type 
                            <span class="required" aria-required="true" > * </span></label>
                            <div class="col-md-8">
                                <select class="form-control" id="type" name="template" onchange="changetype(this)" required>
                                    <option value=""></option>
                                    {% for template in templates %}
                                    <option value="{{ template.id }}" {% if template.id == normal.template.id %} selected {% endif %}>{{ template.type }}</option>
                                    {% endfor %}
                                    <option class="edit-tool" value="new">New</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success new_type" style="display: none">
                            <label class="col-md-4 control-label" for="new_type">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="new_type" placeholder="" name="new_type">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                    Personal Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="id_type">ID Type<span class="required" aria-required="true" > * </span></label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="id-type" name="id_type" required>
                                            <option value="">Select ID.</option>
                                            {% for attr in attrs %}
                                                {% if attr.type == 'ID Type' %}
                                                <option value="{{attr.id}}"
                                                {% if contact.id_type_id == attr.id %} selected {% endif %}>{{attr.value}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a data-toggle="modal" href="#basic" class="btn btn-xs blue" style="margin-left: 2px;" onclick="addNew('ID Type');">
                                            <i class="fa fa-plus"></i> </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="id_value">ID
                            <span class="required" aria-required="true"> * </span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="id_value" placeholder="Enter contact id." name="id_value" required="" value="{{contact.id_value|default_if_none:''}}" onblur="capital(this)">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="old_ic">Old IC</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="old_ic" placeholder="Enter old ic." name="old_ic" value="{{normal.old_ic|default_if_none:''}}" onblur="capital(this)">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="name">Name
                            <span class="required" aria-required="true"> * </span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="name" placeholder="Enter contact name." name="name" required value="{{contact.name|default_if_none:''}}" onblur="capital(this)">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="citizenship">Citizenship</label>
                            <div class="col-md-8">
                                <select class="form-control" id="citizenship" name="citizenship">
                                    <option value="Option 1">Option 1</option>
                                    <option value="Option 2">Option 2</option>
                                    <option value="Option 3">Option 3</option>
                                    <option value="Option 4">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="birth">Date of Birth</label>
                            <div class="col-md-8 date form_datetime">
                                <input type="text" class="form-control date-set" id="birth" placeholder="Enter birthday." name="birth">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="title">Title</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="title" name="title">
                                            {% for attr in attrs %}
                                                {% if attr.type == 'Title' %}
                                                <option value="{{attr.id}}"
                                                {% if contact.title_id == attr.id %} selected {% endif %}>{{attr.value}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a data-toggle="modal" href="#basic" class="btn btn-xs blue" style="margin-left: 2px;" onclick="addNew('Title');">
                                            <i class="fa fa-plus"></i> </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="name">GST Reg. No.</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="gst_reg_no" placeholder="Enter GST registration number." name="gst_reg_no" value="{{contact.gst_reg_no|default_if_none:''}}" onblur="capital(this)">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
    <div class="col-md-4 ">
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Contact Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="address1">Address (Line 1)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="address1" placeholder="Enter address line1." name="address1" value="{{contact.info.address1|default_if_none:''}}" onblur="capital(this)">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="address2">Address (Line 2)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="address2" placeholder="Enter address line2." name="address2" value="{{contact.info.address2|default_if_none:''}}" onblur="capital(this)">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="address3">Address (Line 3)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="address3" placeholder="Enter address line3." name="address3" value="{{contact.info.address3|default_if_none:''}}" onblur="capital(this)">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="postcode">Postalcode</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="postcode" placeholder="Enter postal code." name="postcode" value="{{zip_code|default_if_none:''}}" onblur="capital(this)">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="town">Town</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="town" placeholder="Enter town." name="town" value="{{city|default_if_none:''}}" onblur="capital(this)">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="state">State</label>
                            <div class="col-md-8">
                                <select class="form-control select2" id="state" name="state">
                                    
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="country">Country </label>
                            <div class="col-md-8">
                                <select class="form-control select2" id="country" name="country" onchange="selCountry(this)">
                                    {% for item in countries %}
                                    <option value="{{item.alpha_2}}" class="{{item.alpha_2}}" {% if item.alpha_2 == country %} selected {% endif %}>{{item.name}}</option>
                                    {% endfor %}
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="phone_home">Phone (Home)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control phone" id="phone_home">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="phone_office">Phone (Office)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control phone" id="phone_office">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="phone_mobile">Phone (Mobile)</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control phone" id="phone_mobile">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="fax">Fax</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="fax" placeholder="Enter fax number." name="fax" value="{{contact.info.fax|default_if_none:''}}">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="mail_preference">Email Address</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <input type="text" class="form-control" id="mail_preference" placeholder="Enter email." name="mail_preference" value="{{contact.info.mail_preference|default_if_none:''}}">
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only blue" onclick="mailto()">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="proprietor">Website</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <input type="text" class="form-control" id="website" placeholder="Enter website." name="website" value="{{contact.info.website|default_if_none:''}}">
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only blue" onclick="go_to()">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <!-- <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Other Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="marital_status">Marital Status</label>
                            <div class="col-md-8">
                                <select class="form-control" id="marital_status" name="marital_status">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="children">No. of Children</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="children" placeholder="Enter number of children." name="children">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="occupation">Occupation</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control" id="occupation" name="occupation">
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                            <option value="">Option 3</option>
                                            <option value="">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only blue">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="tax_no">Tax File No</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="tax_no" placeholder="Enter tax file number." name="tax_no">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="ird_branch">IRD Branch</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control" id="ird_branch" name="ird_branch">
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                            <option value="">Option 3</option>
                                            <option value="">Option 4</option>
                                        </select>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only blue">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="customer_type">Customer Type</label>
                            <div class="col-md-8">
                                <select class="form-control" id="customer_type" name="customer_type">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="government">Government Department</label>
                            <div class="col-md-8">
                                <select class="form-control" id="government" name="government">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
        <!-- END SAMPLE FORM PORTLET-->

        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Company Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="javascript:;" class="edit-form edit-tool" onclick="FormBuilder_tp.appendForm(this, 'col-md-6')"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="marital_status">Registered Office <br/> <a href="javascript:;" class="btn btn-xs green" style="margin-top: 5px;" onclick="saveAbove(this)">Save as above </a></label>
                            <div class="col-md-8">
                                <textarea class="form-control registered_office" rows="3" name="registered_office">{{ normal.registered_office }}</textarea>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        {% if directors == None %}
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="director">Director</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="director" name="director[]" onchange="choose_contact(this)">
                                            <option value=""></option>
                                            {% for item in contacts %}
                                                <option value="{{item.id}}">{{item.name}} &nbsp;&nbsp;&nbsp;&nbsp; ({{item.id_value}})</option>
                                            {% endfor %}
                                        </select>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="{% url 'contact_edit' %}" class="btn btn-xs blue" style="margin-left: 2px;" target="_blank">
                                            <i class="fa fa-plus"></i> </a>
                                        <a href="javascript:;" class="btn btn-icon-only purple" target="_blank" style="margin-left: 2px;">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        {% else %}
                        {% for director in directors %}
                            <div class="form-group form-md-line-input has-success">
                                <label class="col-md-4 control-label" for="director">Director</label>
                                <div class="col-md-8 input-group-control">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-control">
                                            <select class="form-control select2" id="director" name="director[]" onchange="choose_contact(this)">
                                                <option value=""></option>
                                                {% for contact in contacts %}
                                                    <option value="{{contact.id}}" {% if contact.id == director.id %} selected {% endif %}>{{contact.name}} &nbsp;&nbsp;&nbsp;&nbsp; ({{contact.id_value}})</option>
                                                {% endfor %}
                                            </select>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                        <span class="input-group-btn btn-right">
                                            <a href="{% url 'contact_edit' %}" class="btn btn-xs blue" style="margin-left: 2px;" target="_blank">
                                                <i class="fa fa-plus"></i> </a>
                                            <a href="{% url 'contact_edit' %}?id={{ director.id }}" class="btn btn-icon-only purple" target="_blank" style="margin-left: 2px;">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-8 control-label" for="marital_status"></label>
                            <div class="col-md-4">
                                <a href="javascript:;" class="btn btn-xs default"><i class="fa fa-plus" onclick="addContact(this, 'Director', 'director[]')"></i> </a>
                                <a href="javascript:;" class="btn btn-xs default"><i class="fa fa-minus" onclick="removeContact(this)"></i> </a>
                            </div>
                        </div>  
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="secretary">Secretary</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <select class="form-control select2" id="secretary" name="secretary_id" onchange="choose_contact(this)">
                                            <option value=""></option>
                                            {% for item in contacts %}
                                                <option value="{{item.id}}" {% if item.id == normal.secretary.id %} selected {% endif %}>{{item.name}} &nbsp;&nbsp;&nbsp;&nbsp; ({{item.id_value}})</option>
                                            {% endfor %}
                                        </select>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="{% url 'contact_edit' %}" class="btn btn-xs blue" style="margin-left: 2px;" target="_blank">
                                            <i class="fa fa-plus"></i> </a>
                                        <a href="{% if normal.secretary_id == None %} javascript:; {% else %} {% url 'contact_edit' %}?id={{ normal.secretary_id }} {% endif %}" class="btn btn-icon-only purple" target="_blank" style="margin-left: 2px;">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="contact_person">Contact Person</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="contact_person" placeholder="" name="contact_person" value="{{contact.info.contact_person|default_if_none:''}}">
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
    </form>
    <div class="col-md-4 ">
        <form name="customForm" method="post" id="customForm" class="custom-form" role="form">
        </form>
    </div>
</div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body form form-horizontal">
                <div class="form-body">
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="type">Value</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="list-value" placeholder="" name="list-value" onblur="capital(this)">
                            <input type="hidden" id="list-type" name="list-type">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green" data-dismiss="modal" onclick="commitNewAttr()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block extra_js %}

<script src="{% static 'global/plugins/moment.min.js" type="text/javascript' %}"></script>
<script src="{% static 'global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'pages/scripts/ui-modals.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>

<script src="{% static 'formbuilder/js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'formbuilder/js/form-builder.min.js' %}" type="text/javascript"></script>
<script src="{% static 'formbuilder/js/form-render.min.js' %}" type="text/javascript"></script>

<script src="{% static 'formbuilder/js/custom.js' %}" type="text/javascript"></script>

<script src="{% static 'phone/js/intlTelInput.js' %}"></script>
<script src="{% static 'phone/js/utils.js' %}"></script>

<script type="text/javascript">

function Interest_enable(obj){
    if(obj.checked){
        $(".interest").attr("disabled", false);
    }else{
        $(".interest").attr("disabled", true);
    }
}

var numofdirector = 1
function addContact(obj, label, name){
    str = '<div class="form-group form-md-line-input has-success"> \
            <label class="col-md-4 control-label">'+ label +'</label> \
            <div class="col-md-8 input-group-control"> \
                <div class="input-group input-group-sm"> \
                    <div class="input-group-control"> \
                        <select class="form-control select2" name="'+ name +'" onchange="choose_contact(this)"> \
                            <option value=""></option> \
                            {% for contact in contacts %} \
                                <option value="{{contact.id}}">{{contact.name}} &nbsp;&nbsp;&nbsp;&nbsp; ({{contact.id_value}})</option> \
                            {% endfor %} \
                        </select> \
                        <div class="form-control-focus"> </div> \
                    </div> \
                    <span class="input-group-btn btn-right"> \
                        <a href="/contact/update" class="btn btn-xs blue" style="margin-left: 2px;" target="_blank"> \
                            <i class="fa fa-plus"></i> </a> \
                        <a href="javascript:;" class="btn btn-icon-only purple" target="_blank" style="margin-left: 2px;"> \
                            <i class="fa fa-search"></i> \
                        </a> \
                    </span> \
                </div> \
            </div> \
           </div>'
    $(str).insertBefore($(obj).parent().parent().parent())

    $(".select2, .select2-multiple").select2({
            placeholder: "",
            width: null
        });
}

function removeContact(obj){
    $(obj).parent().parent().parent().prev().remove()
}

function changetype(obj){

    if($(obj).val() == "new"){
        $(".new_type").attr("style", "display: block")
    } else {
        $(".new_type").attr("style", "display: none")

        $.ajax({
            type: 'GET',
            url: '/api/contact_template/'+$("#type").val()+'/?format=json',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(data) {
              $(".custom-form").html(FormBuilder_tp.getCustomForm(JSON.parse(data["json"]), '{{normal.additional_info}}'))
                FormBuilder_tp.setMode(1)

                initDateControl()
            }
        });

    }
}

function saveAbove(obj){
    var address = $("#address1").val() + " " + $("#address2").val() + " " + $("#town").val() + " " + $("#postcode").val() + ", " + $("#state").val() + " " + $("." + $("#country").val()).html()
    $(".registered_office").html(address)
}

if (App.isAngularJsApp() === false) {
    initDateControl()

    if($("#type").val() != "")
        $.ajax({
            type: 'GET',
            url: '/api/contact_template/'+$("#type").val()+'/?format=json',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(data) {
              $(".custom-form").html(FormBuilder_tp.getCustomForm(JSON.parse(data["json"]), '{{normal.additional_info}}'))
               FormBuilder_tp.setMode(1)
               initDateControl()
            }
        });

    checkValidation("#defaultForm", {})
    initPhoneControl()
    $("#phone_home").intlTelInput("setNumber", '{{phones|dict:"phone_home"}}');
    $("#phone_office").intlTelInput("setNumber", '{{phones|dict:"phone_office"}}');
    $("#phone_mobile").intlTelInput("setNumber", '{{phones|dict:"phone_mobile"}}');

    $.ajax({
        type: 'GET',
        url: '{% url "states" %}'+'?country_code={{country}}'+'&state={{state}}',
        success: function(data) {
            $("#state").html(data)

            $(".select2, .select2-multiple").select2({
                placeholder: "",
                width: null
            });
        }
    });

    $(".select2, .select2-multiple").select2({
        placeholder: "",
        width: null
    });
}

function selCountry(obj){
    $.ajax({
        type: 'GET',
        url: '{% url "states" %}'+'?country_code=' + $(obj).val()+'&state=',
        success: function(data) {
            $("#state").html(data)
        }
    });
}

function mailto(){
    if($("#mail_preference").val() != ""){
        window.open('mailto:'+$("#mail_preference").val(), '_blank');
    }
}
function go_to(){
    if($("#website").val() != ""){
        window.open($("#website").val(), '_blank');
    }
}
</script>
{% endblock %}
