{% extends "base.html" %}
{% load static %}
{% load custom_tag %}

{% block meta_description %}

{% endblock %}
{% block extra_css %}
<link href="{% static 'global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{% static 'phone/css/intlTelInput.css' %}">
<link rel="stylesheet" href="{% static 'phone/css/demo.css' %}">
{% endblock %}

{% block title %} Company {% endblock %}

{% block content %}
<div class="row">
    <form name="defaultForm" method="post" id="defaultForm" role="form" >
    
    <div class="col-md-4 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Company Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Company Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.name|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Initials</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.initials|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Description 1 </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.description1.value|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Description 2 </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.description2.value|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Address (Line 1) </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.info.address1|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Address (Line 2) </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.info.address2|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Address (Line 3) </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.info.address3|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Postalcode </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.info.postcode|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Town </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.info.town|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">State </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.info.state|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Country </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.company.info.country|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Phone (Home) </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{ phones|dict:'phone_home' }}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Phone (Office) </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{ phones|dict:'phone_office' }}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Phone (Mobile) </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{ phones|dict:'phone_mobile' }}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Fax1 </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{ staff.company.fax }}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Fax2 </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{ staff.company.fax2 }}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="mail_preference">Email Address</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <input type="text" class="form-control" name="mail_preference" value="{{staff.company.info.mail_preference|default_if_none:''}}" disabled>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only blue" onclick="mailto()">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="proprietor">Website</label>
                            <div class="col-md-8 input-group-control">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-control">
                                        <input type="text" class="form-control" name="website" value="{{staff.company.info.website|default_if_none:''}}" disabled>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a href="javascript:;" class="btn btn-icon-only blue" onclick="go_to()">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">IRD Branch </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-5 control-label" for="commencement_date">Commencement Date</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="commencement_date" value="{{staff.company.commencement_date|date:'Y-m-d'}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
    <div class="col-md-4 ">

        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     GST Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input">
                            
                            <div class="col-md-12">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox col-md-12">
                                        <input type="checkbox" id="checkbox" name="gst_registered" class="md-check title-check" onchange="changeGST(this)" {% if staff.company.gst_registered == True %}checked{% endif %} disabled>
                                        <label for="checkbox" class="issue-title">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box "></span> GST Registered </label>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-4 control-label" for="annual_rent">GST Rate</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">%</span>
                                            <input type="number" class="form-control gst-item" name="gst_rate" value="{{staff.company.gst_rate|default_if_none:0.0}}" disabled>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-4 control-label" for="registration_no">Registration No.</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control gst-item" value="{{staff.company.registration_no|default_if_none:''}}" disabled>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-4 control-label" for="register_date">Register Date</label>
                                    <div class="col-md-8 date">
                                        <input type="text" class="form-control date-set gst-item date-picker" id="register_date" placeholder="Select Date" name="register_date" value="{{staff.company.register_date|date:'Y-m-d'}}" disabled>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-4 control-label" for="effective_date">Effective Date</label>
                                    <div class="col-md-8 date">
                                        <input type="text" class="form-control"value="{{staff.company.effective_date|date:'Y-m-d'}}" disabled>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label class="col-md-4 control-label" for="taxable_period">Taxable Period</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" value="{{staff.company.taxable_period}} month" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Person In Charge </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                <div class="form-body">
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="partner_label">Partner Label</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{staff.company.partner_label|default_if_none:''}}" disabled>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    {% for partner in partners %}
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="director">Partner</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{partner}}" disabled>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Assistant </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                <div class="form-body">
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="la_label">LA Label</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{staff.company.la_label|default_if_none:''}}" disabled>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    {% for clerk in clerks %}
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="director">Clerk</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{clerk}}" disabled>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Supporting Staff </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                <div class="form-body">
                    {% for p_quality in partner_qualifications %}
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="partner_qualifications">Partner</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{p_quality}}" disabled>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Login Information </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                    <div class="form-body">
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="login_id">Login ID</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.login_id|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div> 
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{staff.contact.name|default_if_none:''}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input has-success">
                            <label class="col-md-4 control-label" for="phone_personal">Phone</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" value="{{phone_personal}}" disabled>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Footer </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                <div class="form-body">
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="tax_invoice">Tax Invoice</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="6" disabled>{{company.tax_invoice}}</textarea>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="quotation">Quotation</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="6" disabled>{{company.quotation}}</textarea>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="receipt">Receipt</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="6" disabled>{{company.receipt}}</textarea>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet box purple ">
            <div class="portlet-title">
                <div class="caption">
                     Welcome Message </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form form-horizontal">
                <div class="form-body">
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="message">Message</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="6" name="message">{{company.message}}</textarea>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body form form-horizontal">
                <div class="form-body">
                    <div class="form-group form-md-line-input has-success">
                        <label class="col-md-4 control-label" for="type">Value</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="list-value" placeholder="" name="list-value" onblur="capital(this)">
                            <input type="hidden" id="list-type" name="list-type">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div> 


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green" data-dismiss="modal" onclick="commitNewAttr()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block extra_js %}

<script src="{% static 'global/plugins/moment.min.js" type="text/javascript' %}"></script>
<script src="{% static 'global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'pages/scripts/ui-modals.min.js' %}" type="text/javascript"></script>
<script src="{% static 'global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>

<script src="{% static 'formbuilder/js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'formbuilder/js/form-builder.min.js' %}" type="text/javascript"></script>
<script src="{% static 'formbuilder/js/form-render.min.js' %}" type="text/javascript"></script>

<script src="{% static 'formbuilder/js/custom.js' %}" type="text/javascript"></script>

<script src="{% static 'phone/js/intlTelInput.js' %}"></script>
<script src="{% static 'phone/js/utils.js' %}"></script>

<script type="text/javascript">

</script>
{% endblock %}
